@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.section-content {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1300px;
}

.call {
    background-color: orange;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

ul {
    list-style: none;
    /* padding: 0; */
}

a {
    text-decoration: none;
    color: #1f2a5e;
    font-size: 0.9rem;
    font-weight: 500;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.contact  {
    padding: 15px 30px;
    font-weight: bold;
    background-color: red;
    color: #fff;
    border: none;
    margin-right: 5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact:hover {
    /* background: transparent; */
    background-color: rgb(209, 44, 44);
}
.contact a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

/* navabar styling */
header {
    /* position: fixed; */
    width: 100%;
    z-index: 5;
    background-color: #fff;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.navbar .nav-logo {
    margin-left: 3.2rem;
}

.navbar .menu {
    display: flex;
    align-items: center;
    margin-left: -3rem;
    letter-spacing: 1px;
    /* padding: 2px; */
} 

.menu .menu-item a {
    padding: 40px 20px;
    transition: 0.3s ease;
}

.menu .menu-item a:hover {
    background-color: #061b85;
    color: #fff;
}
body.show-mobile-menu {
    overflow: hidden;
}

.navbar #menu-close-button, 
.navbar #menu-open-button {
    display: none;
}

/* home styling */
.home-section {
    width: 100%;
    min-height: 100vh;
}
.home-section .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.slider-container {
    position: relative;
    width: 100%;
    /* max-width: 800px; */
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
    position: relative;
}
img {
    width: 100%;
    display: block;
    /* position: relative; */
    /* margin-top: 4px; */
}
.caption {
    width: 80%;
    position: absolute;
    bottom: 8rem;
    left: 10%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    animation: floutText 1s ease-out 1 forwards;
}
@keyframes floutText {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

.caption span i {
    font-size: 3.5rem;
    font-weight: lighter;
    padding: 0;
}

.caption .heading {
    font-size: 4.3rem;
    font-weight: lighter;
    letter-spacing: 3.5px;
    animation: heading 1s ease-in-out 1 normal;
}
@keyframes heading {
    0% {transform: translateX(50px); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}
.caption .text {
    max-width: 90%;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 1.09rem;
    font-weight: lighter;
    letter-spacing: 1px;
    animation: text .8s ease-in-out 1 backwards;
}
.caption .btn {
    margin-top: 40px;
    padding: 20px 35px;
    font-weight: lighter;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    animation: button 1s ease-in-out 1  forwards;
}
.caption .btn a {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: normal;
} 
.caption .btn:hover a {
    color: orange;
}
/* @keyframes button {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
} */

.caption .btn:hover {
    background: #fff;
    color: orange;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: lighter;
    cursor: pointer;
    /* border-radius: 50%; */
    transition: 0.3s ease;
}
.arrow:hover {
    color: #eedfdf;
}
.prev { 
    left: 20px; 
}
.next { 
    right: 20px; 
}

/* about styling */
.about-section {
    padding: 0;
    max-width: 90%;
    width: 75%;
    margin: auto;
}
.cell {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}
.about-section .cell-number span {
    color: orange;
    font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 2px;
}
.about-section .cell-number .number {
    color: red;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.cell-number .number:hover {
    color: orange;
}

/* service styling */
.service-section {
    width: 100%;
}
.bgImage {
    background-image: url('electric.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
}
.service-section .section-content {
    width: 50%;
    text-align: center;
    margin: auto;
}

.service{
    max-width: 95%;
    width: 90%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
}
.service .head h1 {
    /* padding: 20px; */
    font-size: 2.2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #222;
}
.service .head::after {
    content: "";
    width: 20rem;
    height: 2px;
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
    margin-bottom: 20px;
    background: gray;
}
.service .txt {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.8px;
    line-height: 1.8;
    font-size: 1.01rem;
    font-weight: normal;
    color: #333;
}
.service-item {
    max-width: 100%;
    width: 85%;
    margin: auto;
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
    margin-top: 30px;
}
.service-item .bonded {
    /* max-width: 90%; */
    width: 75%;
    border: none;
    background: #fff;
   /* padding: 20px; */
}
.service-item .bonded span i {
    font-size: 2rem;
    font-weight: bolder;
    color: #333;
    padding-top: 30px;
    transition: 0.3s ease;
}
.service-item .bonded span i:hover,
.service-item .bonded h2:hover {
    color: orange;
}
.service-item .bonded h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #888;
    letter-spacing: 0.3px;
    transition: 0.3s ease;
}
.service-item .bonded p {
    width: 90%;
    margin: auto;
    font-size: 1rem;
    font-weight: lighter;
    color: #555;
    letter-spacing: 0.7px;
}
.service-item .bonded .con-us {
    background: red;
    margin-top: 50px;
    padding: 6px;
}
.service-item .bonded .con-us a {
    color: #fff;
    font-size: 1rem;
}

.request {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    background: orange;
    padding: 40px 0;
    margin-top: 7rem;
}
.request #trust {
    font-size: 1.52rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;
    animation: homeAnimted 1.5s ease-in-out;
}
@keyframes homeAnimted {
    0% {transform: translateX(-150%);}
    100% {transform: translateX(0%);}
}
.request #qoute {
    background: #333;
    border-radius: 5px;
    padding: 16px 35px;
    transition: 0.3s ease;
}
/* .request #qoute:hover span  {
    background: #fff;
    color: #333;
} */
.request span a {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
}

/* Reviews styling */
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}
.review h1 {
    font-size: 2.2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    /* padding: 0; */
}

.review::after {
    content: '';
    width: 12rem;
    height: 2px;
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
    background: gray;
    margin-bottom: 35px;
}
.swiper-wrapper {
    margin-bottom: 35px;
}
.review-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.swiper-slide .review-para {
    margin-top: 30px;
    display: block;
    width: 55%;
    margin: auto;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
    font-size: 1.02rem;
    line-height: 1.6;
    letter-spacing: 2px;
    color: orange;
}
.review-section button {
    padding: 12px 30px;
    text-align: center;  
    margin-left: 30rem; 
    margin-top: 20px;
    font-size: 1.17rem;
    letter-spacing: 1px;
    background: red;
    border: none;
    transition: 0.3s ease;
}
.review-section button:hover {
    background: rgb(209, 44, 44);
}

/* Contact and footer */
.contact-section {
    width: 100%;
    background: #252a32;
    color: #fff;
    margin-top: 6rem;
}
.contact-section .contact-item {
    max-width: 100%;
    width: 80%;
    padding-top: 4rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
    letter-spacing: 1px;
}
.contact-item .foot {
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
}
.contact-phone #phone {
    margin: 30px 0 30px 0;
    line-height: 2;
}
.contact-phone #phone a  {
    color: #999;
    font-weight: lighter;
    letter-spacing: 1.5px;
}
.contact-phone #phone a:hover {
    color: orange;
} 
.contact-ser .menu-electric-ser {
    margin-top: 25px 0;
    color: #999;
}
.menu-electric-ser #electric-ser {
    font-size: 1.5rem;
    line-height: 2;
}
.menu-electric-ser .electric-link a {
    color: #999;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: lighter;
    padding: 10px 0;
}
.menu-electric-ser .electric-link:hover, 
.menu-electric-ser .electric-link a:hover {
    color: orange;
}
.contact-link .foot-link a i {
    margin: 5px;
    color: #999;
    font-size: 1.4rem;
    transition: 0.3s ease;
}
.contact-link .foot-link a i:hover {
    color: orange;
}
.contact-section .foot-copy {
    background: #404454;
    margin-top: 4rem;
    padding: 30px;
    text-align: center;
}
.contact-section .foot-copy .copyRight {
    color: #999;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: lighter;
}
.foot-copy .copyRight a {
    color: orange;
    font-weight: lighter;
}

/* Responsive Media */
@media screen and (max-width: 900px) {
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    .navbar #menu-open-button,
    .navbar #menu-close-button {
        display: block;
        font-size: 1.8rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .navbar #menu-open-button {
        color: orange;
    }
    .navbar #menu-close-button {
        position: absolute;
        right: 20px;
        top: 20px;
        color: orange;
    }
    .navbar .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        gap: 20px;
        top: 0;
        left: -100%;
        width: 350px;
        height: 100vh;
        background: white;
        color: #061b85;
        padding-top: 80px;
        transition: left 0.3s ease-in-out;
        box-shadow: 5px 0 10px rgba(0,0,0,0.2);
        z-index: 2;
    }
    body.show-mobile-menu .navbar .menu {
        left: 0;
    }
    .navbar .menu .menu-item {
        margin: 10px 0;
    }
    .navbar .menu .link {
        font-size: 1.5rem;
        color: #061b85;
    }
    .navbar .menu .link:hover {
        background: transparent;
        color: #1f2a5e;
    }
    .contact {
        margin-right: 0;
        padding: 12px 25px;
        background-color: transparent;
    }
    .contact:hover {
        background: none;
    }
    .contact a {
        color: #1f2a5e;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .navbar .nav-logo {
        margin-left: 20px;
    }

    /* Fix image and slider scaling */
    .slider-container {
        width: 100%;
    }
    .slider img {
        width: 100%;
        /* height: auto; */
        height: 100vh;
        margin-bottom: 0;
    }
    .caption {
        bottom: 15rem;
        left: 4%;
        transform: translateX(-50%);
        width: 90%;
    }
    .caption .heading {
        font-size: 2.9rem;
    }
    .caption .text {
        font-size: 0.9rem;
    }
    .caption .btn {
        padding: 15px 25px;
        font-size: 0.9rem;
        font-weight: bold; 
        overflow: hidden;
    }
    /* Fix number layout in About section */
    .about-section .cell {
        flex-direction: column;
        gap: 25px;
        margin-top: 2rem;
    }

    /* Fix layout in service section */
    .service-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .service .head h1 {
        font-size: 1.3rem;
        margin-bottom: 2.2rem;
        padding-top: 3rem;
    }
    .service .head::after, .review::after {
        content: '';
        width: 6rem;
        height: 3px;
    }
    .service .txt {
        max-width: 100%;
        width: 97%;
        font-size: 0.98rem;
        margin-top: 2.3rem;
        letter-spacing: 1px;
    }
    .service-item {
        max-width: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .service-item .bonded, .service-item  .electric {
        width: 100%;
    }
    .service-item .electric p {
        padding-top: 10.2px;
        letter-spacing: 1px;
        line-height: 1.6;
    }
    .service-item .electric .con-us {
        margin-top: 6rem;
    }
    .request {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .request #trust {
        font-size: 1.6rem;
        font-weight: lighter;
        letter-spacing: 1.1px;
    }
    .request #qoute {
        max-width: 100%;
        width: 80%;
        padding: 16px;
        background: #333;
    }

    /* Reviews Responsive */
    .swiper {
        width: 100%;
    }
    .swiper-slide .review-para {
        max-width: 100%;
        width: 95%;
        font-size: 1rem;
    }
    .review-section button {
        margin-left: 15rem;
        font-weight: bold;
    }

    /* footer Responsive */
    .contact-section .contact-item {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }
    .contact-phone {
        max-width: 95%;
        margin: auto;
    }
    .menu-electric-ser #electric-ser {
        line-height: 2.3;
        margin: 0;
    }
}

@media screen and (max-width: 675px) {
    .prev, .next, .text {
        display: none;
    }
    /* Home section */
    .caption span i {
        font-size: 2.2rem;
    }
    .caption .heading {
        font-size: 2.5rem;
    }
    .review-section button {
        margin-left: 0.5rem;
        font-weight: bold;
    }
    .electric-link {
        margin-right: 2.7rem;
        padding: 0;
        /* border-bottom: 0.2px solid gray; */
    }
}